<div class="container">
  <h3 class="lh-title">CHÚNG TÔI Ở ĐÂY</h3>
  <h1 class="lh-content">Cùng bạn chăm cây</h1>
  <div class="lh-form">
    <div class="lh-row">
      <div class="lh-item">
        <div class="lh-itembox lh-left">
          <p>*Họ</p>
          <input name="họ" type="text"/>
        </div>
      </div>
      <div class="lh-item lh-right">
        <div class="lh-itembox">
          <p>*Tên</p>
          <input name="ten" type="text"/>
        </div>
      </div>
      <div class="lh-item lh-left">
        <div class="lh-itembox">
          <p>*Email</p>
          <input name="email" type="text"/>
        </div>
      </div>
      <div class="lh-item lh-right">
        <div class="lh-itembox">
          <p>*Điện thoại</p>
          <input name="tel" type="text"/>
        </div>
      </div>
    </div>
  </div>
  <div class="lh-description lh-form">
    <p>*Yêu cầu</p>
    <textarea name="description" rows="7"></textarea>
  </div>
  <div class="lh-file lh-form">
    <p>*Ảnh</p>
    <input name="file" type="file"/>
  </div>
  <div class="lh-add lh-form">
    <button type="button">Add</button>
  </div>
  <div class="lh-map lh-form">
    <img src="./assets/imgs/imgs_lienhe/lh-map.png">
  </div>
  <div class="lh-form uli">
    <ul>
      <li><b>Cửa Hàng</b></li>
      <li>Số 01A Lê Đại Hành, Phường Bùi Thị Xuân, Quận Hai Bà Trưng, HN - 09228.098.19</li>
    </ul>
    <ul>
      <li><b>Vườn Ươm</b></li>
      <li>Số 06 Plaza Mall, Phường Cổ Linh,</li>
      <li>Quận Long Biên, HN - 09228.098.191</li>
    </ul>
  </div>
</div>
