<header class="section header">
  <div class="container">
    <nav class="top-link">
      <div class="logo">
        <a routerLink="/"> <img src="./assets/imgs/imgs_home/logo.png" alt="Green earth"/></a>
      </div>
      <div class="menu">
        <ul class="main-menu">
          <li><a href="#">Giới thiệu</a></li>
          <li><a routerLink="/list-product">Sản phẩm</a>
            <ul class="sub-menu">
              <li><a routerLink="/new-product">Mẫu mới</a></li>
              <li><a routerLink="/trending-product">Trending</a></li>
              <li><a routerLink="/sale-product">Sale</a></li>
            </ul>
          </li>
          <li style="width: 120px; text-align: center"><a href="#">Dịch vụ</a>
            <ul class="sub-menu">
              <li><a href="#">Kiến trúc</a></li>
              <li><a href="#">Thuê cây</a></li>
            </ul>
          </li>
          <li><a href="#">Yêu cây và chăm cây</a></li>
          <li><a href="#">Liên hệ</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
