<header class="section header">
  <div class="container">
    <nav class="top-link">
      <div class="logo">
        <a routerLink="/" target="_top"> <img src="./assets/imgs/imgs_home/logo.png" alt="Green earth"/></a>
      </div>
      <div class="menu">
        <ul class="main-menu">
          <li><a routerLink="/introduce" target="_top">Giới thiệu</a></li>
          <li><a routerLink="/list-product" target="_top">Sản phẩm</a>
            <ul class="sub-menu">
              <li><a routerLink="/new-product" target="_top">Mẫu mới</a></li>
              <li><a routerLink="/trending-product" target="_top">Trending</a></li>
              <li><a routerLink="/sale-product" target="_top">Sale</a></li>
            </ul>
          </li>
          <li style="width: 120px; text-align: center"><a href="#">Dịch vụ</a>
            <ul class="sub-menu">
              <li><a routerLink="/kien-truc-xanh" target="_top">Kiến trúc</a></li>
              <li><a routerLink="/thue-cay-canh" target="_top">Thuê cây</a></li>
            </ul>
          </li>
          <li><a routerLink="/yeu-cay" target="_top">Yêu cây và chăm cây</a></li>
          <li><a routerLink="/lien-he" target="_top">Liên hệ</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
