<footer class="section footer">
  <div class="container">
    <div class="background-footer">
      <div class="footer-centrer">
        <div class="footer-center-top">
          <h2>Bản Tin Xanh</h2>
          <p>Đăng ký nhận thông tin từ everGreen để luôn cập nhật những thông tin mới nhất về Workshops Chăm sóc cây và các Chương trình Khuyến mãi.</p>
          <form class="form-footer" method="get" action="#">
            <input type="email" name="email" placeholder="Địa chỉ Email của Bạn">
            <button type="button">Đăng ký</button>
          </form>
        </div>
        <div class="footer-center-buttom">
          <nav class="footer-link">
            <ul>
              <li><a routerLink="/introduce" target="_top">Về chúng tôi</a></li>
              <li><a routerLink="/list-product" target="_top"> Sản phẩm</a></li>
              <li><a routerLink="/" target="_top" > Workshops</a></li>
              <li><a href="https://www.messenger.com/" target="_blank"> Tuyển dụng</a></li>
              <li><a routerLink="/lien-he" target="_top"> Liên hệ</a></li>
            </ul>
          </nav>
          <div class="icon-link-buttom">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://mail.google.com/" target="_blank"><i class="fa-brands fa-google"></i></a>
            <a href="https://www.youtube.com/" target="_blank"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
