<footer class="section footer">
  <div class="container">
    <div class="background-footer">
      <div class="footer-centrer">
        <div class="footer-center-top">
          <h2>Bản Tin Xanh</h2>
          <p>Đăng ký nhận thông tin từ everGreen để luôn cập nhật những thông tin mới nhất về Workshops Chăm sóc cây và các Chương trình Khuyến mãi.</p>
          <form class="form-footer" method="get" action="#">
            <input type="email" name="email" placeholder="Địa chỉ Email của Bạn">
            <button type="button">Đăng ký</button>
          </form>
        </div>
        <div class="footer-center-buttom">
          <nav class="footer-link">
            <ul>
              <li><a href="#">Về chúng tôi</a></li>
              <li><a href="#"> Sản phẩm</a></li>
              <li><a href="#" > Workshops</a></li>
              <li><a href="#"> Tuyển dụng</a></li>
              <li><a routerLink="/lienhe"> Liên hệ</a></li>
            </ul>
          </nav>
          <div class="icon-link-buttom">
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-google"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
