.background-footer{
  width: 100%;
  float: left;
  background-color: #faf9f8;
  background-image: url("../../assets/imgs/imgs_home/Footer_Backgroud.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px;
  margin-bottom: 20px;
}
.footer-centrer{
  width: 45%;
  float: none;
  margin: 0 auto;
  padding: 30px;

}
.footer-center-top{
  width: 100%;
  float: left;
}
.footer-center-top h2{
  color: #7D9B6F;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  padding: 15px;
}
.footer-center-top p{
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}
.form-footer{
  width: 100%;
  padding: 15px 0;
}
.form-footer input{
  width: 65%;
  float: left;
  padding: 8px;
  background-color: #F8F5EF;
  border: none;
  border-bottom: 3px solid #EFE9DC;
}
.form-footer button{
  width: 35%;
  float: left;
  padding: 9px;
  border: none;
  background-color: #E48288;
  color: #FCF8ED;
  border-radius: 5px;
}
.form-footer button:hover{
  background-color: #d57076;
}
.footer-center-buttom{
  width: 100%;
  float: left;
  padding: 35px 0;
}
nav.footer-link{
  width: 65%;
  float: left;
}
nav.footer-link ul{
  list-style: none;
}
nav.footer-link ul li{
  width: 33.33%;
  float: left;
  padding-top: 10px;
}
nav.footer-link ul li a{
  text-decoration: none;
  color: #556484;
}
nav.footer-link ul li:hover a{
  color: #E48288;
}
.icon-link-buttom{
  width: 35%;
  float: left;
}
.icon-link-buttom a{
  width: 25%;
  height: 15px;
}
.icon-link-buttom i{
  width: 20%;
  margin-right: 5px;
  margin-top: 6px;
  transition: 400ms;
  color: #34466D;
  font-size: 25px;
}
.icon-link-buttom i:hover{
  transform: scale(1.5);
}
