<div class="container">
  <div class="content-top">
    <div class="content-intro">
      <h2>THUÊ CÂY CẢNH</h2>
    </div>
    <div class="content-intro background">
      <img src="./assets/imgs/imgs_thuecaycanh/backgroundaboutus.jpg" alt="kientrucxanh"/>
      <h1> TẠO KHÔNG GIAN XANH CHO VĂN PHÒNG</h1>
    </div>
    <div class="content-body01 row">
      <div class="col-6">
        <img src="./assets/imgs/imgs_thuecaycanh/anh 1.png" alt="kientrucxanh"/>
      </div>
      <div class="col-4">
        <img src="./assets/imgs/imgs_thuecaycanh/anh 2.png" alt="kientrucxanh"/>
        <p>
          Lưỡi hổ xua tan đi nguồn năng lượng độc hại từ các loại thiết bị.
        </p>
        <img src="./assets/imgs/imgs_thuecaycanh/anh 3.png" alt="kientrucxanh"/>
        <p>Không gian xanh tạo sự thư giãn cho văn phòng. </p>
        <p>Góc tiếp khách và cầu thanh được nhấn bằng mảng không gian xanh tươi mát.</p>
      </div>
    </div>
    <div class="content-body01 item">
      <img src="./assets/imgs/imgs_thuecaycanh/anh 4.png" alt="kientrucxanh"/>
      <p>
        Biệt thự nhà Vườn Ecopark
      </p>
    </div>
  </div>
</div>
