#buttom-fix{
  position: fixed;
  bottom: 50px;
  right: 50px;
}
#buttom-fix li{
  list-style: none;
  margin-top: 18px;
}
#buttom-fix i{
  font-size: 40px;
  color: #8dba30;
  padding: 2px;
  border-radius: 50%;
  box-shadow: 0 2px 2px 1px #34466D;
}
#buttom-fix li i:hover{
  color: #64811a;
}
