
.row{
  width: 100%;
  margin-top: 200px;
  padding: 0 50px;
}
.new-product h2{
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  margin-left: 30px;
  margin-bottom: 30px;
}
.new-product h2>a{
  color: #a4cb92;
  font-size: 50px;
  font-weight: 600;

}
.product {
  padding: 10px 35px;
  margin: 20px 0;
}
.product .icon{
  width: 100%;
  float: left;
  position: relative;
}
.product h4{
  padding: 5px 0;
  border-bottom: 1px solid ;
}
.product h4>a{
  text-decoration: none;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 2px;
  color: #73585a;
}
.product h4 a:hover{
  text-decoration: underline;
}
.product p{
  padding: 5px 0;
}
.product p i{
  padding-left: 5px;
  color: #73585A;
}
.icon .icon-color i{
  color: #FFBC7D;
}
.icon-color .fa-droplet{
  color: #70DAE1;
}
.icon h3{
  font-size: 25px;
  position: absolute;
  right: 5px;
  bottom: 10px;
}
