<div class="row">
  <div class="new-product col-md-12">
    <h2><a href="#">Sản phẩm mới nhất</a></h2>
    <div class="product col-md-4" *ngFor="let new of list_product_new">
      <img src="{{new.img}}" alt="kim tiền"/>
      <h4><a routerLink="/luoi-ho">{{new.name}}</a></h4>
      <div class="icon">
        <p>Ánh sáng:<span class="icon-color"> <i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></span><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></p>
        <p>Độ ẩm:<span class="icon-color"> <i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></span><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></p>
        <h3>{{new.cost}}<sup>đ</sup></h3>
      </div>
    </div>
  </div>
</div>

