<div class="row">
  <div class="content-top col-md-12">
    <div class="content-intro col-md-12">
      <h2>KIẾN TRÚC XANH</h2>
    </div>
    <div class="content-intro background col-md-2">
      <img src="./assets/imgs/imgs_gioithieu/backgroundaboutus-1.jpg" alt="kientrucxanh"/>
    </div>
    <div class="a col-md-10">
      <h1> MANG ĐẾN NHỮNG KIẾN TRÚC ĐỘC ĐÁO</h1>
    </div>
    <div class="content-body01 col-md-12">
      <div class="col-xs-6">
        <img src="./assets/imgs/imgs_kientrucxanh/anh 1.png" alt="kientrucxanh"/>
      </div>
      <div class="img-right col-md-4">
        <img src="./assets/imgs/imgs_kientrucxanh/anh 2.png" alt="kientrucxanh"/>
        <p>
          BT 12 EcoPark
        </p>
        <img src="./assets/imgs/imgs_kientrucxanh/anh 3.png" alt="kientrucxanh"/>
        <p>
          Quán cà phê The Cat
        </p>
        <p>Góc Nghỉ ngơi Toà Building 89 Láng Hạ</p>
      </div>
    </div>
    <div class="content-body02 col-md-12">
      <img src="./assets/imgs/imgs_kientrucxanh/anh 4.png" alt="kientrucxanh"/>
      <p>
        Biệt thự nhà Vườn Ecopark
      </p>
    </div>
  </div>
  <div class="share-with-friend">
    <div class="content-share">
      <h2>Chia Sẻ với Bạn và nhận Voucher 100k</h2>
      <p>Chia sẻ với bạn bè Voucher Giảm giá 20% với mỗi đơn hàng trên 200 và nhận ngay Voucher trị giá 100k cho lần mua sắm tiếp theo.</p>
    </div>
    <div class="sumbit-share">
      <form class="form-list" method="get" action="#">
        <input class="form-control" type="text" name="fullnam" placeholder="Họ và Tên của Bạn">
        <input class="form-control" type="email" name="email" placeholder="Địa chỉ Email của Bạn">
        <button class="form-control" type="button">Chia Sẻ với Bạn bè</button>
      </form>
    </div>
  </div>
  <div class="silde-img-buttom">
    <img src="./assets/imgs/imgs_home/silde_img_buttom_1.png" alt="slide img"/>
    <img src="./assets/imgs/imgs_home/silde_img_buttom_2.png" alt="slide img"/>
    <img src="./assets/imgs/imgs_home/silde_img_buttom_3.png" alt="slide img"/>
    <img src="./assets/imgs/imgs_home/contact_2.png" alt="slide img"/>
  </div>
</div>

