<div class="row">
  <div class="product-details">
    <div class="list-imgs">
      <ul>
        <li><a href="#"><img src="{{product_luoi_ho.img}}" alt="Luoi ho"/> </a></li>
        <li><a href="#"><img src="{{product_luoi_ho.img}}" alt="Luoi ho"/> </a></li>
        <li><a href="#"><img src="{{product_luoi_ho.img}}" alt="Luoi ho"/> </a></li>
        <li><a href="#"><img src="{{product_luoi_ho.img}}" alt="Luoi ho"/> </a></li>
      </ul>
    </div>
    <div class="view-imgs">
      <img src="{{product_luoi_ho.img}}" alt="Luoi ho"/>
    </div>
    <div class="comformation-product">
      <div class="comformation">
        <h3>{{product_luoi_ho.name}}<span>{{product_luoi_ho.cost}}<sup>đ</sup></span></h3>
        <p><b>Nguồn gốc:</b>{{product_luoi_ho.origin}}</p>
        <p><b>Đặc điểm:</b>{{product_luoi_ho.desc}}</p>
        <p><b>Loại mẫu chậu:</b></p>
      </div>
      <div class="select-pots">
        <ul>
          <li><a href="#">Mẫu 01</a></li>
          <li><a href="#">Mẫu 02</a></li>
          <li><a href="#">Mẫu 03</a></li>
          <li><a href="#">Mẫu 04</a></li>
        </ul>
      </div>
      <div class="select-size">
        <h3>Kích thước:</h3>
        <ul>
          <li><a href="#"><p>Nhỏ</p></a></li>
          <li><a href="#"><p>Chung</p></a></li>
          <li><a href="#"><p>Lớn</p></a></li>
        </ul>
        <span class="show-size">5 - 10cm</span>
      </div>
      <div class="form-box">
        <a href="#"> <span>Liên hệ</span></a>
      </div>
    </div>
  </div>
  <div class="tutorial-tree">
    <h3>Hướng dẫn Trồng và Chăm Sóc Cây</h3>
    <div class="steps steps-1">
      <i class="fa-solid fa-temperature-high"></i>
      <h5>Nhiệt độ</h5>
      <p>Lưỡi hổ sợ rét vì vậy phải đặt nó ở nơi có khí hậu ôn hoà, nhiệt độ không thấp hơn 13 độ C, tốt nhất trong khoảng    20 - 35 độ</p>
    </div>
    <div class="steps steps-2">
      <i class="fa-solid fa-cloud-sun"></i>
      <h5>Ánh sáng</h5>
      <p>Cần đặt cây ở nơi có nhiều ánh sáng chiếu tới, trường hợp đặt trong bóng râm thì 10 ngày mang ra sáng 1 lần.</p>
    </div>
    <div class="steps steps-3">
      <i class="fa-solid fa-droplet"></i>
      <h5>Tưới nước</h5>
      <p>Mùa mưa và lạnh mỗi tháng tưới 1 lần. Mua hè và khô 1 lần/1 tuần</p>
    </div>
    <div class="steps steps-4">
      <i class="fa-solid fa-dumpster"></i>
      <h5>Thay chậu</h5>
      <p>Mùa xuân, tách cây khi rễ đã đầy cả chậu</p>
    </div>
    <div class="steps steps-5">
      <i class="fa-solid fa-pump-medical"></i>
      <h5>Bón phân</h5>
      <p>01 tháng bón phân 01 lần. Loại phân giàu Potasse vào mùa xuân đến hè</p>
    </div>
  </div>
</div>
<div class="title-sale">
  <h2>Gợi ý Dành cho Bạn</h2>
</div>
<sale-product></sale-product>
