<section class="section main">
  <div class="container">
    <div class="main-background">
      <div class="list-product">
        <div class="new-product">
          <h2><a href="#">  Sản phẩm mới nhất</a></h2>
          <div class="product">
            <img src="./assets/imgs/imgs_product/kimtien.png" alt="kim tiền"/>
            <h4><a href="http://nhom4-green-earth.herokuapp.com/product-luoi-ho.html">kim tiền</a></h4>
            <div class="icon">
              <p>Ánh sáng:<span class="icon-color"> <i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></span><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></p>
              <p>Độ ẩm:<span class="icon-color">  <i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></span><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></p>
              <h3>21.000<sup>đ</sup></h3>
            </div>
          </div>
          <div class="product">
            <img src="./assets/imgs/imgs_product/bangcanh.png" alt="bàng cảnh"/>
            <h4><a href="http://nhom4-green-earth.herokuapp.com/product-luoi-ho.html">bàng cảnh</a></h4>
            <div class="icon">
              <p>Ánh sáng:<span class="icon-color">  <i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></span><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></p>
              <p>Độ ẩm:<span class="icon-color">  <i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></span><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></p>
              <h3>21.000<sup>đ</sup></h3>
            </div>
          </div>
          <div class="product">
            <img src="./assets/imgs/imgs_product/de-vuong.jpg" alt="lưỡi hổ"/>
            <h4><a href="http://nhom4-green-earth.herokuapp.com/product-luoi-ho.html">Đế Vương</a></h4>
            <div class="icon">
              <p>Ánh sáng:<span class="icon-color">  <i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></span><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></p>
              <p>Độ ẩm:<span class="icon-color">  <i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></span><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></p>
              <h3>21.000<sup>đ</sup></h3>
            </div>
          </div>
          <div class="product">
            <img src="./assets/imgs/imgs_home/kimtien.png" alt="kim tiền"/>
            <h4><a href="http://nhom4-green-earth.herokuapp.com/product-luoi-ho.html">kim tiền</a></h4>
            <div class="icon">
              <p>Ánh sáng:<span class="icon-color">  <i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></span><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></p>
              <p>Độ ẩm:<span class="icon-color">  <i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></span><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></p>
              <h3>21.000<sup>đ</sup></h3>
            </div>
          </div>
          <div class="product">
            <img src="./assets/imgs/imgs_product/luoiho.png" alt="kim tiền"/>
            <h4><a href="http://nhom4-green-earth.herokuapp.com/product-luoi-ho.html">lưỡi hổ</a></h4>
            <div class="icon">
              <p>Ánh sáng:<span class="icon-color">  <i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></span><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></p>
              <p>Độ ẩm:<span class="icon-color">  <i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></span><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></p>
              <h3>21.000<sup>đ</sup></h3>
            </div>
          </div>
          <div class="product">
            <img src="./assets/imgs/imgs_product/hong-mon.jpg" alt="kim tiền"/>
            <h4><a href="http://nhom4-green-earth.herokuapp.com/product-luoi-ho.html">Hồng môn</a></h4>
            <div class="icon">
              <p>Ánh sáng:<span class="icon-color">  <i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></span><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></p>
              <p>Độ ẩm:<span class="icon-color">  <i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></span><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></p>
              <h3>21.000<sup>đ</sup></h3>
            </div>
          </div>
        </div>
        <div class="trending-product">
          <h2><a href="#">Trending..</a></h2>
          <div class="product">
            <img src="./assets/imgs/imgs_product/co-guong.jpg" alt="kim tiền"/>
            <h4><a href="http://nhom4-green-earth.herokuapp.com/product-luoi-ho.html">cỏ gương</a></h4>
            <div class="icon">
              <p>Ánh sáng:<span class="icon-color">  <i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></span><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></p>
              <p>Độ ẩm:<span class="icon-color">  <i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></span><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></p>
              <h3>21.000<sup>đ</sup></h3>
            </div>
          </div>
          <div class="product">
            <img src="./assets/imgs/imgs_product/cam-cu-la-tim.jpg" alt="bàng cảnh"/>
            <h4><a href="http://nhom4-green-earth.herokuapp.com/product-luoi-ho.html">cẩm cù là tím</a></h4>
            <div class="icon">
              <p>Ánh sáng:<span class="icon-color">  <i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></span><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></p>
              <p>Độ ẩm:<span class="icon-color">  <i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></span><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></p>
              <h3>21.000<sup>đ</sup></h3>
            </div>
          </div>
          <div class="product">
            <img src="./assets/imgs/imgs_product/sendapreta.jpg" alt="lưỡi hổ"/>
            <h4><a href="http://nhom4-green-earth.herokuapp.com/product-luoi-ho.html">sen đá preta</a></h4>
            <div class="icon">
              <p>Ánh sáng: <span class="icon-color"> <i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></span><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></p>
              <p>Độ ẩm:<span class="icon-color">  <i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></span><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></p>
              <h3>21.000<sup>đ</sup></h3>
            </div>
          </div>
          <div class="product">
            <img src="./assets/imgs/imgs_product/dong.jpg" alt="kim tiền"/>
            <h4><a href="http://nhom4-green-earth.herokuapp.com/product-luoi-ho.html">dong</a></h4>
            <div class="icon">
              <p>Ánh sáng:<span class="icon-color">  <i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></span><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></p>
              <p>Độ ẩm:<span class="icon-color">  <i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></span><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></p>
              <h3>21.000<sup>đ</sup></h3>
            </div>
          </div>
          <div class="product">
            <img src="./assets/imgs/imgs_product/trau-ba-nam.jpg" alt="kim tiền"/>
            <h4><a href="http://nhom4-green-earth.herokuapp.com/product-luoi-ho.html">trầu bà nam</a></h4>
            <div class="icon">
              <p>Ánh sáng:<span class="icon-color">  <i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></span><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></p>
              <p>Độ ẩm: <span class="icon-color"> <i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></span><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></p>
              <h3>21.000<sup>đ</sup></h3>
            </div>
          </div>
          <div class="product">
            <img src="./assets/imgs/imgs_product/set-newbie-01.jpg" alt="kim tiền"/>
            <h4><a href="http://nhom4-green-earth.herokuapp.com/product-luoi-ho.html">set newbie 01</a></h4>
            <div class="icon">
              <p>Ánh sáng:<span class="icon-color">  <i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></span><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></p>
              <p>Độ ẩm:<span class="icon-color">  <i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></span><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></p>
              <h3>21.000<sup>đ</sup></h3>
            </div>
          </div>
        </div>
        <div class="sale-product">
          <h2><a href="#">Sale</a></h2>
          <div class="product">
            <img src="./assets/imgs/imgs_product/co-guong.jpg" alt="kim tiền"/>
            <h4><a href="http://nhom4-green-earth.herokuapp.com/product-luoi-ho.html">cỏ gương</a> <span class="new-cost">19.000<sup>đ</sup></span></h4>
            <div class="icon">
              <p>Ánh sáng:<span class="icon-color"> <i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></span><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></p>
              <p>Độ ẩm:<span class="icon-color">  <i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></span><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></p>
              <h3>21.000<sup>đ</sup></h3>
            </div>
          </div>
          <div class="product">
            <img src="./assets/imgs/imgs_product/cam-cu-la-tim.jpg" alt="bàng cảnh"/>
            <h4><a href="http://nhom4-green-earth.herokuapp.com/product-luoi-ho.html">cẩm cù là tím </a><span class="new-cost">19.000<sup>đ</sup></span></h4>
            <div class="icon">
              <p>Ánh sáng:<span class="icon-color">  <i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></span><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></p>
              <p>Độ ẩm:<span class="icon-color">  <i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></span><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></p>
              <h3>21.000<sup>đ</sup></h3>
            </div>
          </div>
          <div class="product">
            <img src="./assets/imgs/imgs_product/sendapreta.jpg" alt="lưỡi hổ"/>
            <h4><a href="http://nhom4-green-earth.herokuapp.com/product-luoi-ho.html">sen đá preta</a> <span class="new-cost">19.000<sup>đ</sup></span></h4>
            <div class="icon">
              <p>Ánh sáng:<span class="icon-color">  <i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></span><i class="fa-solid fa-sun"></i><i class="fa-solid fa-sun"></i></p>
              <p>Độ ẩm:<span class="icon-color">  <i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></span><i class="fa-solid fa-droplet"></i><i class="fa-solid fa-droplet"></i></p>
              <h3>21.000<sup>đ</sup></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
