*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-size: 14px;
  line-height: 1.25;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: #73585A;
}
.container{
  width: 1200px;
  margin: 0 auto;
  float: none;
}
img{
  width: 100%;
}
.section{
  float:left;
  width: 100%;
}
