<div class="container">
  <div class="row">
    <div class="search">
      <h2><a href="#">Tìm Cây Cảnh</a></h2>
      <div class="choses-infomation col-md-12">
        <span onclick="showSeach()">chọn thông tin</span> <i onclick="showSeach()" class="fa-solid fa-chevron-down"></i>
      </div>
      <div id="show-seach-product" class="col-md-12">
        <h3>Bộ lọc sản phẩm</h3>
        <form class="form-main" action="#" method="post">
          <div class="form-box cost">
            <h4>Chi phí</h4>
            <ul>
              <li><label><input type="checkbox" name="comfirm"/>Thấp đến cao</label></li>
              <li><label><input type="checkbox" name="comfirm"/>Mới nhập</label></li>
              <li><label><input type="checkbox" name="comfirm"/>Cao xuống thấp</label></li>
              <li><label><input type="checkbox" name="comfirm"/>Khuyến mại</label></li>
            </ul>
          </div>
          <div class="form-box environment">
            <h4>Môi trường</h4>
            <ul>
              <li><label><input type="checkbox" name="comfirm"/>Trong nhà</label></li>
              <li><label><input type="checkbox" name="comfirm"/>Ngoài trới</label></li>
            </ul>
          </div>
          <div class="form-box location">
            <h4>Vị trí</h4>
            <ul>
              <li><label><input type="checkbox" name="comfirm"/>Đặt bàn</label></li>
              <li><label><input type="checkbox" name="comfirm"/>Đặt sàn</label></li>
              <li><label><input type="checkbox" name="comfirm"/>Vườn treo</label></li>
            </ul>
          </div>
          <div class="form-box light">
            <h4>Ánh sáng</h4>
            <ul>
              <li><label><input type="checkbox" name="comfirm"/>Ưa sáng</label></li>
              <li><label><input type="checkbox" name="comfirm"/>Bóng dâm</label></li>
            </ul>
          </div>
          <div class="form-box view">
            <h4>Cảnh quan</h4>
            <ul>
              <li><label><input type="checkbox" name="comfirm"/>Có hoa</label></li>
              <li><label><input type="checkbox" name="comfirm"/>Bóng mát</label></li>
            </ul>
          </div>
          <span><button type="reset">Xóa chọn</button> </span>
        </form>
      </div>
    </div>
  </div>
</div>
